project.xcworkspace
xcuserdata
*.xcarchive/
*.ipa
*.app.dSYM.zip
certs/
build/
tmp/
org.codefirst.SpoolDays.mobileprovision
.bundle
vendor/bundle
/.env
fastlane/report.xml
fastlane/test_output/
com.mono0926.LicensePlist/
com.mono0926.LicensePlist.plist
com.mono0926.LicensePlist.latest_result.txt
