project.xcworkspace
xcuserdata
*xcworkspace/
*.xcarchive/
Pods/
*.ipa
*.app.dSYM.zip
certs/
build/
tmp/
org.codefirst.SpoolDays.mobileprovision
.bundle
/.env
fastlane/report.xml
fastlane/test_output/
