name: Build

on:
  pull_request:
  push:
    branches:
      - master

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
 build:

   runs-on: macos-26
   timeout-minutes: 40

   steps:
   - uses: actions/checkout@v6

   - name: Set Xcode version
     run: sudo xcode-select -s /Applications/Xcode_26.1.app

   - name: Show Xcode version
     run: xcodebuild -version

   - uses: ruby/setup-ruby@v1
     with:
       bundler-cache: true

   - uses: irgaly/xcode-cache@v1
     with:
       key: xcode-cache-deriveddata-${{ github.workflow }}-${{ github.sha }}
       restore-keys: xcode-cache-deriveddata-${{ github.workflow }}-

   - name: Cache Gems
     uses: actions/cache@v4
     with:
       path: vendor/bundle
       key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}
       restore-keys: |
         ${{ runner.os }}-gems-

   - name: Install Bundled Gems
     run: |
       bundle config path vendor/bundle
       bundle install --jobs 4 --retry 3

   - name: Cache Pods
     uses: actions/cache@v4
     with:
       path: Pods
       key: ${{ runner.os }}-pods-${{ hashFiles('**/Podfile.lock') }}
       restore-keys: |
         ${{ runner.os }}-pods-

   - name: Install Pods
     run: bundle exec pod install

   - name: Run swift-format
     run: |
       swift format lint --parallel --recursive --strict $(find . -maxdepth 1 -type d -name 'SpoolDays*' ! -name '*.xcodeproj')

   - name: Build
     run: bundle exec fastlane build_for_simulator

   - name: Test
     run: bundle exec fastlane test
