name: Build

on:
  pull_request:
  push:
    branches:
      - master

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  swiftlint:
    runs-on: ubuntu-latest
    timeout-minutes: 2

    steps:
      - uses: actions/checkout@v6

      - name: GitHub Action for SwiftLint with --strict
        uses: norio-nomura/action-swiftlint@3.2.1
        with:
          args: --strict

  swiftformat:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v6

      - name: Show Swift version
        run: swift --version

      - name: Run swift-format
        run: |
          swift format lint --parallel --recursive --strict $(find . -maxdepth 1 -type d -name 'SpoolDays*' ! -name '*.xcodeproj')

  build:
    needs: [swiftlint, swiftformat]
    runs-on: macos-26
    timeout-minutes: 20

    steps:
      - uses: actions/checkout@v6

      - name: Set Xcode version
        run: sudo xcode-select -s /Applications/Xcode_26.2.app

      - name: Show Xcode version
        run: |
          xcodebuild -version

      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - uses: irgaly/xcode-cache@v1
        with:
          key: xcode-cache-deriveddata-${{ github.job }}-${{ github.workflow }}-${{ github.sha }}
          restore-keys: xcode-cache-deriveddata-${{ github.job }}-${{ github.workflow }}-

      - name: Cache Gems
        uses: actions/cache@v5
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-gems-

      - name: Install Bundled Gems
        run: |
          bundle config path vendor/bundle
          bundle install --jobs 4 --retry 3

      - name: Cache Pods
        uses: actions/cache@v5
        with:
          path: Pods
          key: ${{ runner.os }}-pods-${{ hashFiles('**/Podfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-pods-

      - name: Install Pods
        run: bundle exec pod install

      - name: Build
        run: |
          bundle exec fastlane build_for_simulator

  test:
    needs: [swiftlint, swiftformat]
    runs-on: macos-26
    timeout-minutes: 20

    steps:
      - uses: actions/checkout@v6

      - name: Set Xcode version
        run: sudo xcode-select -s /Applications/Xcode_26.2.app

      - name: Show Xcode version
        run: |
          xcodebuild -version

      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - uses: irgaly/xcode-cache@v1
        with:
          key: xcode-cache-deriveddata-${{ github.job }}-${{ github.workflow }}-${{ github.sha }}
          restore-keys: xcode-cache-deriveddata-${{ github.job }}-${{ github.workflow }}-

      - name: Cache Gems
        uses: actions/cache@v5
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-gems-

      - name: Install Bundled Gems
        run: |
          bundle config path vendor/bundle
          bundle install --jobs 4 --retry 3

      - name: Cache Pods
        uses: actions/cache@v5
        with:
          path: Pods
          key: ${{ runner.os }}-pods-${{ hashFiles('**/Podfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-pods-

      - name: Install Pods
        run: |
          bundle exec pod install

      # https://github.com/actions/runner-images/issues/12777
      - name: Workaround for hanging simulator
        run: |
          xcrun simctl runtime dyld_shared_cache update --all

      - name: Test
        run: |
          bundle exec fastlane test
